.header {
  width: 100%;
  height: 500px;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-image: url("../img/PhotoFilter.jpg");
  background-size: cover;
  background-position: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo-img {
  width: 164px;
  height: 34px;
}

.header__logo {
  order: 1;
  flex-basis: 50%;
}

.header__button-container {
  flex-basis: 100%;
  text-align: right;
  order: 3;
}

.header__navigation-list {
  &--opened {
    visibility: visible;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 5px;
  right: 22px;
  margin: 0;
  padding: 0;
  list-style: none;

  &:last-child li {
    margin-top: 10px;
  }
  &--closed{
    visibility: hidden;
  }
}

.header__navigation-item {
  position: relative;
  &:hover .header__navigation-sublist,
  &:focus .header__navigation-sublist,
  &:active .header__navigation-sublist {
    display: block;
  }
}

.header__button {
  order: 2;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    background-color: #fcff19;
    border-radius: 10px;
    transition: background 0.5s;
  }

  &:focus svg {
    fill: #000000;
  }

  &:hover {
    background-color: #fcff19;
    border-radius: 10px;
    transition: background 0.5s;
  }

  &:hover .header__button-svg {
    fill: #000000;
  }
}

.header__button-svg__cross {
  &--closed{
    display: block;
  }
  &--opened {
    display: none;
  }
  fill: #ffffff;
  width: 30px;
  height: 40px;
}
.header__button-svg {
  &--opened {
    display: none;
  }
  width: 30px;
  height: 40px;
  fill: #ffffff;
  &--closed {
    display: block;
  }
}

.header__navigation-link {
  &--opened {
    visibility: visible;

  }
}

.header__navigation-sublist {
  display: none;
  position: absolute;
  z-index: 1;
  left: -120px;
  top: 5px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #fcff19;
  list-style: none;
  border-radius: 10px;
}

.header__navigation-link {
  width: 100px;
  &:hover {
    border: 1px solid black;

    box-shadow: 2px 3px 0 0 #fcff19;
  }
}

.header__navigation-link,
.header__navigation-sublink {
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  &--icon svg {
    fill: #ffffff;
    width: 33px;
    height: 27px;
  }

  &:hover {
    background-color: #fcff19;
    border-radius: 10px;
    transition: background 0.5s;
    color: #000000;
  }

  &--icon {
    &:hover svg {
      fill: #000000;
    }
  }
}

.header__navigation-sublink {
  color: #000000;
}
